/* Minimal Reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Nunito', serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: grey;
}

.app {
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Card component CSS */
.card {
  padding: 15px;
  width: 100%;
  height: 350px;
  background-color: rgb(90, 95, 99);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  border: 1px solid black;
}

.direction {
  transform: rotate(180deg);
}

.player_name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player_name h2 {
  color: greenyellow;
  font-size: 28px;
}

.player_life h1 {
  font-size: 75px;
  font-weight: 700;
  color: red;
}

.player_buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.player_buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  width: 37px;
  height: 37px;
  cursor: pointer;
  border: none;
}

.lost {
  background-color: rgba(231, 33, 19, 0.5);
}

.lost .btn_success:hover {
  background-color: rgba(133, 178, 116, 1);
}

.lost .btn_danger:hover {
  background-color: rgba(249, 113, 103, 1);
}

.btn_success {
  background-color: rgba(133, 178, 116, 1);
  margin-left: 10px;
}

.btn_success:hover {
  background-color: rgb(84, 126, 69);
}

.btn_danger {
  background-color: rgba(249, 113, 103, 1);
  margin-left: 10px;
}

.btn_danger:hover {
  background-color: rgb(212, 48, 36);
}

.icon {
  font-size: 30px;
}

.sub_btns {
  display: flex;
}

.add_btns {
  display: flex;
}

/* Settings component CSS */

.settings {
  padding: 2px 4px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  cursor: pointer;
}

.menu_icon {
  font-size: 40px;
}

/* Modal Css */

.modal {
  width: 500px;
  height: 600px;
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: calc(50% - 600px / 2);
  bottom: 0;
  left: calc(50% - 500px / 2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal label {
  color: white;
}

.btn_menu-close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close_icon {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.close_icon:hover {
  color: grey;
}

.btn_reset {
  padding: 6px 15px;
  background-color: rgb(243, 106, 106);
  color: white;
  cursor: pointer;
}

.btn_reset:hover {
  background-color: red;
}

.modal_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.modal_inputs input {
  height: 30px;
  outline: none;
  font-size: 25px;
  width: 70%;
}
