/* Minimal Reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Nunito', serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: grey;
}

.app {
  width: 100vh;
  height: 100vh;
  padding: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Card component CSS */
.card {
  padding: 15px;
  width: 350px;
  height: 350px;
  background-color: rgb(90, 95, 99);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  border: 1px solid black;
}

.player_name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player_name h2 {
  color: greenyellow;
  font-size: 28px;
}

.player_life h1 {
  font-size: 75px;
  font-weight: 700;
  color: red;
}

.player_buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.player_buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  width: 37px;
  height: 37px;
  cursor: pointer;
}

.lost {
  background-color: rgba(231, 33, 19, 0.5);
}

.lost .btn_success:hover {
  background-color: rgba(133, 178, 116, 1);
}

.lost .btn_danger:hover {
  background-color: rgba(249, 113, 103, 1);
}

.btn_success {
  background-color: rgba(133, 178, 116, 1);
}

.btn_success:hover {
  background-color: rgba(106, 158, 87, 1);
}

.btn_danger {
  background-color: rgba(249, 113, 103, 1);
}

.btn_danger:hover {
  background-color: rgb(214, 90, 81);
}

.icon {
  font-size: 28px;
}

/* Settings component CSS */

.settings {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: rotate(-60deg); */
  cursor: pointer;
}

.menu_icon {
  font-size: 35px;
}
